@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.Title {
    font-family: 'Quicksand',sans-serif;
    background-color:#fdffcd;
    font-size: 48px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}